*.log
debian/.debhelper
freediams
freediams-doc-en
debhelper-build-stamp
debian/tmp
*.substvars
debian/freediams-doc-fr
debian/freehealth-common-resources
debian/freehealth-ehr-doc-en
debian/freehealth-ehr-doc-fr
debian/freehealth-ehr-resources
debian/freehealth-ehr
debian/freehealth-freedata
debian/freehealth-i18n
debian/freehealth-libs
debian/freehealth-project
debian/freehealth-theme
debian/files
